# Entorno virtual
venv/
.venv
env/

# Videos y frames (archivos pesados)
data/input/
data/frames/

# JSONs generados
data/json/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
dist/
build/

# Variables de entorno
.env
.envrc

# Windows
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
.ruff_cache/